@import "./variables.css";
@import "./fonts.css";
@import "./responsive.css";
@import "./top-bar.css";
@import "./navBar.css";
@import "./default.css";
@import "./footer.css";
@import "./breadcrumb.css";
@import "./sideBar-courseBox.css";

main.blog {
  margin-top: 20px;
}

.col-4 {
  position: sticky;
  top: 2rem;
  align-self: flex-start;
}

.col-4 .courses-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* course info quick links start  */

.course-info__quick-links {
  background: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  padding: 15px;
}

.course-info__pertinent-text {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--dark-color);
  margin-bottom: 10px;
  display: block;
}

.sidebar-articles__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sidebar-articles__item {
  display: flex;
  align-items: center;
  gap: 5px;
  background: #f9f9f9;
  padding: 1.5rem 0 1.5rem 0.5rem;
  border-radius: 1rem;
  transition: all 0.3s ease;
}

.sidebar-articles__item:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.sidebar-articles__icon {
  font-size: 1.7rem;
}

.sidebar-articles__link {
  text-decoration: none;
  font-size: 1.4rem;
  transition: color 0.3s ease;
}

.sidebar-articles__link:hover {
  color: var(--primary-color);
  text-decoration: underline;
}

/* course info quick links finished  */

/* course info last blogs start  */

.course-info__last-blogs {
  background: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}

.course-info__last-blogs-title {
  padding: 1.5rem 0 1rem 2.5rem;
  display: block;
  font-size: 1.5rem;
  font-weight: 500;
}

.course-info__last-blogs-link:first-child {
  border: none;
}

.course-info__last-blogs-link {
  display: block;
  padding: 15px 0;
  border-top: 1px solid #ddd;
  font-size: 1.4rem;
  transition: all 0.3s ease;
  padding-left: 2.5rem;
}

.course-info__last-blogs-link:hover {
  color: var(--primary-color);
  background: #f9f9f9;
}

/* course info last blogs finished  */

/* article col 8 start  */

.article {
  background: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  padding: 2rem;
}

.article-title {
  font-size: 2rem;
  font-weight: 600;
  color: var(--dark-color);
  margin-bottom: 1.5rem;
  line-height: 1.4;
}

.article-header {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}

.article-header__category {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1.4rem;
  color: var(--dark-color);
}

.article-header__icon {
  font-size: 1.6rem;
  color: var(--primary-color);
}

.article-header__link {
  text-decoration: none;
  color: var(--dark-color);
  transition: color 0.3s ease;
}

.article-header__link:hover {
  color: var(--primary-color);
  text-decoration: underline;
}

.article-header__img {
  width: 100%;
  height: 400px;
  border-radius: 1rem;
  object-fit: cover;
}

/* article score  */
.article-score {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
}

.article-score__icons {
  margin-right: 0.7rem;
  color: goldenrod;
}

.article-score__icons i {
  margin-right: -3px;
  font-size: 1.7rem;
}

.article-score__rate {
  font-weight: 600;
  font-size: 1.8rem;
}

/* helper class   */
.paragraph {
  font-size: 1.8rem;
  line-height: 3rem;
  margin-top: 2rem;
  color: var(--dark-color);
}

/* article read  */

.article-read {
  background: #e3eaf1;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  margin-top: 2rem;
}

.article-read__title {
  font-size: 2rem;
  font-weight: 600;
  color: var(--dark-color);
  margin-bottom: 1rem;
  line-height: 1.4;
}

.article-read__link {
  color: blue;
  width: fit-content;
}

.article-read__link:hover {
  color: blue;
  text-decoration: underline;
  text-underline-offset: 2px;
}

/* blog sections  */

.article-secondary__img {
  width: 100%;
  height: 400px;
  border-radius: 1rem;
  margin-top: 2rem;
  object-fit: cover;
}

.article-blog__section {
  margin-top: 5rem;
}

.article-blog__section-title {
  font-size: 2rem;
  font-weight: 600;
  color: var(--dark-color);
  line-height: 1.4;
  color: var(--primary-color);
}

.article-blog__section-paragraph {
  margin-top: 0.5rem;
}

.article-blog__section-img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 1rem;
}

/* social media  */

.article-social__media {
  margin-top: 2rem;
}

.article-social__media-icon {
  color: var(--dark-color);
  transition: all 0.3s ease;
}

.article-social__media-icon:hover {
  transform: translateY(-3px);
}

/* suggestion-articles  */

.suggestion-articles {
  margin-top: 2rem;
  background: #e3eaf1;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  padding: 3rem 2rem;
}

/* article comments  */

.article-comment {
  background: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  padding: 2rem;
  margin-top: 2rem;
}

.article-comment__title {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.article-comment__subtitle {
  font-size: 1.6rem;
  color: var(--dark-color);
  margin-bottom: 1rem;
}

.article-comment__username {
  color: #000;
  transition: all 0.3s ease;
  display: inline-block;
}

.article-comment__logout {
  color: #000;
  margin-left: 5px;
  transition: all 0.3s ease;
  display: inline-block;
}

.article-comment__username:hover {
  transform: translateY(-2px);
  color: #000;
  text-decoration: underline;
}
.article-comment__logout:hover {
  transform: translateY(-2px);
  color: #000;
  text-decoration: underline;
}

.article-comment__label {
  display: block;
  font-size: 1.5rem;
}

.article-comment__textarea {
  width: 100%;
  min-height: 100px;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 1rem;
  font-size: 1.6rem;
  resize: vertical;
  transition: border-color 0.3s ease;
  margin-top: 0.5rem;
}

.article-comment__textarea:focus {
  border-color: var(--primary-color);
  outline: none;
}

.article-comment__button {
  margin-top: 1rem;
  padding: .8rem 2em;
  background: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
}

.article-comment__button:hover {
  transform: translateY(-2px);
}

/* article col 8 finished  */
