/* Start responsive for 1024px  */


/* Finish responsive for 1024px  */


/* Start responsive for 768px  */

@media (max-width: 768px) {
    
    /* Start top bar  */

  .top-bar {
    height: 45px;
    font-size: 12px;
  }

  .top-bar__email-text,
  .top-bar__phone-text,
  .top-bar__link {
    font-size: 1.2rem;
  }

  .top-bar__menu {
    gap: 1rem;
  }

  .top-bar__right {
    margin-left: 2rem;
  }
  
    /* Finish top bar  */

}

/* Finish responsive for 768px  */
