@media (max-width: 1200px) {
  .main-header .container-fluid {
    padding: 0;
  }

  .main-header .main-header__content {
    padding: 1rem 0 1rem 2rem;
  }

  .main-header .main-header__left {
    gap: 1rem;
  }

  .main-header .main-header__profile {
    gap: 0.5rem;
    padding: 0.5rem 1.5rem;
    font-size: 1.5rem;
  }

  .main-header .main-header__logo {
    display: none;
  }

  .main-header .main-header__menu {
    gap: 0px;
    width: 540px;
  }

  .main-header .main-header__link {
    margin: 0 0 0 1.3rem;
  }

  .main-header .main-header__dropdown {
    min-width: 175px;
  }
}

@media (max-width: 768px) {
  /* top bar start  */

  .top-bar {
    height: 45px;
    font-size: 12px;
  }

  .top-bar__email-text,
  .top-bar__phone-text,
  .top-bar__link {
    font-size: 1.2rem;
  }

  .top-bar__menu {
    gap: 1rem;
  }

  .top-bar__right {
    margin-left: 2rem;
  }

  /* top bar finished  */

  /* navbar start  */

  .main-header .main-header__content {
    position: relative;
  }

  .main-header .main-header__xmark {
    display: block;
    margin-left: 25px;
    margin-top: 15px;
  }

  .main-header .main-header__menubar {
    display: block;
    margin-top: 5px;
  }

  .main-header .main-header__right {
    position: fixed;
    right: -250px;
    top: 45px;
    width: 250px;
    height: 100vh;
    flex-direction: column;
    align-items: flex-start;
    background: #fff;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
    z-index: 99999;
  }

  .main-header .main-header__menu {
    flex-direction: column;
    width: 100%;
    gap: 2rem;
  }
  .main-header .main-header__dropdown {
    padding: 0;
    position: static;
    box-shadow: none;
    background: #f8f9fa;
    padding-left: 1rem;
    border-radius: 5px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    width: 100%;
    margin: 0;
  }

  .main-header .main-header__item.is-open .main-header__dropdown {
    max-height: 500px;
  }

  .main-header .main-header__dropdown-link {
    font-size: 1.3rem;
  }

  .main-header .main-header__link {
    margin: 0;
    padding-left: 3rem;
  }

  /* navbar finished  */

  /* home banner (landing) start  */

  .landing .landing__title {
    font-size: 3.5rem;
    font-weight: 600;
  }

  .landing .landing__subtitle {
    font-size: 1.8rem;
  }

  .landing .landing__searchbar {
    max-width: 450px;
  }

  .landing .landing-status {
    gap: 5rem;
  }

  /* home banner (landing) finished  */

  /* about us section start  */

  .box-container {
    grid-template-columns: 1fr !important;
  }

  .box {
    padding: 1.5rem;
  }

  .box__left-icon {
    font-size: 2rem;
  }

  .box-right__title {
    font-size: 1.5rem;
  }

  .box-right__subtitle {
    font-size: 1.2rem;
  }

  /* about us section finished  */

  /* footer start  */
  .footer {
    padding: 0 15px !important;
  }

  .footer .footer-widgets::before {
    width: 30rem;
  }

  .footer .footer-content-box:nth-child(2) {
    padding-left: 1rem;
  }

  .footer .footer-content-box:last-child {
    padding: 0rem;
  }

  .footer .footer-content-last-child {
    padding-left: 1.5rem;
    justify-content: flex-start;
  }

  .footer .footer-content-box:last-child .footer-content__title {
    margin-left: 1rem;
  }

  /* footer finished  */

  /* category courses section start  */

  .courses .courses-top-bar {
    padding: 2rem 1rem;
  }

  .courses .courses-top-bar__left {
    gap: 0rem;
  }

  .courses .courses-top-bar__form {
    padding: 0.5rem;
  }

  .courses .courses-top-bar__icon {
    font-size: 1.5rem;
  }

  .courses .courses-top-bar__input {
    font-size: 1.5rem;
    width: 140px;
  }

  /* category courses section finished  */

  /* course main info start */

  .course-info .container {
    flex-direction: column;
    align-items: center;
  }

  .course-info .course-info__left {
    margin: 0 auto;
  }

  .course-info .course-info__left,
  .course-info .course-info__right {
    flex: 1 1px;
  }

  .course-info .course-info__link {
    margin-left: 1.7rem;
  }

  .course-info .course-info__title,
  .course-info .course-info__desc {
    text-align: center;
  }

  .course-info .course-info__video {
    height: 300px;
    width: 500px;
  }

  .course-info .course-info__social-media {
    justify-content: center;
  }

  /* course main info finished */
}

/* ! */
@media (max-width: 480px) {
  /* home banner (landing) start  */
  .landing .landing__title {
    font-size: 3rem;
  }

  .landing .landing__subtitle {
    font-size: 1.6rem;
  }

  .landing .landing__searchbar {
    max-width: 350px;
  }

  .landing .landing__searchbar-input {
    padding: 1rem 1rem 1rem 1.5rem;
    font-size: 1.6rem;
  }

  .landing .landing-status {
    gap: 2rem;
  }

  /* home banner (landing) finished  */

  /* footer start  */
  .footer .footer-widgets {
    padding: 4rem 1rem;
  }
  .footer .footer-widgets::before {
    width: 20rem;
  }
  /* footer finished  */

  /* category courses section start  */

  .courses-top-bar {
    flex-direction: column-reverse;
    justify-content: center;
    gap: 2rem;
  }
  /* category courses section finished  */

  /* breadcrumb start  */

  .breadcrumb .breadcrumb__content {
    gap: 10px;
    padding: 20px 0 20px 10px;
    flex-wrap: wrap;
  }
  .breadcrumb .breadcrumb__icon {
    margin-left: 0px;
  }
  /* breadcrumb finished  */

  /* course main info start */

  .course-info {
    padding: 60px 15px;
  }

  .course-info .course-info__title {
    font-size: 22px;
  }

  .course-info .course-info__video {
    height: 300px;
    width: 380px;
  }

  /* course main info finished */
}
