
/* Navbar start  */

.main-header {
  background: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.main-header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2.5rem;
}

.main-header__left {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.main-header__search-btn,
.main-header__cart-btn {
  font-size: 2rem;
  color: var(--primary-color);
  transition: color 0.3s;
}

.main-header__search-btn:hover,
.main-header__cart-btn:hover {
  color: #2bce56;
}

.main-header__profile {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1.2rem 2rem;
  background: #f0f2f7;
  border-radius: 25px;
  color: var(--dark-color);
  transition: background 0.3s;
}

.main-header__profile:hover {
  background: #e9ecef;
}

.main-header__profile_text {
  font-size: 14px;
  font-weight: 500;
  margin-top: 0.5rem;
}

.main-header__right {
  display: flex;
  align-items: center;
  position: relative;
  transition: all 0.5s ease;
}

.main-header__right.active {
  right: 0;
}

.main-header__menubar {
  position: absolute;
  right: 2rem;
}

.main-header__xmark,
.main-header__menubar {
  font-size: 2.2rem;
  font-weight: 500;
  cursor: pointer;
  display: none;
}

.main-header__logo {
  max-width: 180px;
  height: auto;
  margin-top: 1rem;
}

.main-header__menu {
  display: flex;
  gap: 5px;
  width: 850px;
}

.main-header__item {
  position: relative;
}

.main-header__link {
  display: block;
  color: var(--dark-color);
  font-weight: 500;
  font-size: 1.5rem;
  transition: all 0.3s;
  margin: 0rem 1.5rem;
}

.main-header__link:hover {
  color: var(--primary-color);
  background: #f8f9fa;
}

.main-header__dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  min-width: 220px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: all 0.3s;
  margin-top: 1rem;
  padding: 1rem 0;
}

/* .main-header__item:hover .main-header__dropdown {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
} */

.main-header__dropdown-link {
  display: block;
  padding: 1rem 2rem;
  color: var(--dark-color);
  font-size: 1.5rem;
  transition: all 0.3s;
}

.main-header__dropdown-link:hover {
  background: #f8f9fa;
  color: #2bce56;
  padding-left: 25px;
}

/* Navbar finished */